.App {
  text-align: center;
  display: flex;
  flex-direction: column;
};

.buttonbox {
  display: flex;
  flex-direction: row;
}

.button {
  padding: 1rem;
  background-color: green;
  color: white;
  border-radius: 5px;
  margin: 0.5rem;
  width: 100px;
  border: none;
}

